BOT_TOKEN = "8113335972:AAHQVc594f80dX4JsvZOLCgg1xWUfVm5YKQ" #Токен телеграмм бота созданный с помощью BotFather
KEY_API = "eca0044fefmsh05e0a0a38931394p1720a4jsn6a96e4bdb9af" #Ключ для поиска API c https://rapidapi.com/apidojo/api/hotels4
